[submodule "models/Emu"]
	path = models/Emu
	url = https://github.com/yzeng58/Emu
[submodule "models/gill"]
	path = models/gill
	url = https://github.com/yzeng58/gill
[submodule "models/Qwen"]
	path = models/Qwen
	url = https://github.com/yzeng58/Qwen
[submodule "models/Qwen-VL"]
	path = models/Qwen-VL
	url = https://github.com/yzeng58/Qwen-VL
