.ipynb_checkpoints
__pycache__
**/*.ipynb_checkpoints/
**/__pycache__
.DS_Store
**/.DS_Store

figures/

**/*.out
**/*.err
**/*.log
**/*.json
**/*.yaml
**/*.wandb
**/*.tar

*.out
*.err
*.log
*.json
*.yaml
*.wandb
*.model
*.pickle
*.txt
*.sub

**/wandb
**/wandb_sweep
**/log_ccc
**/trials
**/figures
**/submit
**/log_condor
**/datasets
**/.ipynb_checkpoints/
**/results
**/models
**/seed_llama
**/logs
**/archive


**/submit_cpu.sh
**/submit_gpu.sh
submit_cpu.sh
submit_gpu.sh

environment.py
run.sh

token.json
credentials.json
token_drive_v3.pickle
